body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #eeb6e6;
    margin-top: 50px;
  }  
  h1 {
    color:#f204fa;
  }
  input {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #2c3e50;
    border-radius: 5px;
  }
 .button-container {
    margin-top: 20px;
 }
 button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
 }
 button:hover {
    opacity: 0.7;
 }
.suma {
    background-color: #e9128f;
    color:rgb(255, 255, 255);
}
.resta {
    background-color: #9b1e75;
    color: rgb(252, 247, 247);
}
.multiplicacion {
    background-color: #ac0e77;
    color: white;
}
.division {
    background-color: #8e44ad;
    color: white;
}
#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #f009b6;
}
